<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mark.demomysql.mapper.BookMapper">
    <resultMap id="BaseResultMap" type="cn.mark.demomysql.model.Book">
        <constructor>
            <arg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="setb" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="age" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,age,setb
    </sql>

    <insert id="insert" parameterType="cn.mark.demomysql.model.Book">
        insert into t_book (id, name, setb,age
        )
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{setb,jdbcType=VARCHAR},#{age,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="cn.mark.demomysql.model.Book" useGeneratedKeys="true" keyProperty="id">
        insert into t_book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="setb != null">
                setb,
            </if>
            <if test="age != null">
                age,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="setb != null">
                #{setb,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="listBook" resultMap="BaseResultMap">
        SELECT * FROM t_book WHERE 1=1
        <if test="id != null">
            AND id=#{id,jdbcType=INTEGER}
        </if>
        <if test="age != null">
            AND age=#{age,jdbcType=INTEGER}
        </if>
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="INTEGER">
        select <include refid="Base_Column_List"/> from t_book where id=#{id,jdbcType=INTEGER}
      <!--  <if test="id !=null">
            where id=#{id,jdbcType=INTEGER}
        </if>-->

    </select>

    <select id="queryListBook" resultMap="BaseResultMap">
        SELECT * FROM t_book WHERE 1=1
        <if test="name != null and name !=''" >
            AND name like concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>
    </select>

    <select id="selectMaps" resultMap="BaseResultMap" parameterType="map">
        SELECT * FROM t_book WHERE 1=1 and setb=#{setb,jdbcType=VARCHAR}
    </select>

  <delete id="deleteBook">
    delete from t_book where id=#{id,jdbcType=INTEGER}
  </delete>

  <update id="updateBook"  parameterType="book">
    update t_book
    <set>
        <if test="name!=null and name!=''">
            name=#{name,jdbcType=VARCHAR},
        </if>
        <if test="age!=null and age!=''">
            age=#{age,jdbcType=INTEGER},
        </if>
        <if test="setb!=null and setb!=''">
            setb=#{setb,jdbcType=VARCHAR}
        </if>
    </set>

         where  id=#{id,jdbcType=INTEGER}
  </update>

</mapper>